<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="assets/img/favicon.svg">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/custom.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
    <title>Crevna</title>
</head>

<body>
    <div id="circulo1" class="circulo circulo1"></div>
    <div id="circulo2" class="circulo circulo2"></div>
    <div class="content position-relative">
        <div class="container">
            <div class="row align-content-center titulo-formulario-enviado">
                <h2 class="text-light display-4">Well done!</h2>
                <h1 class="text-light">Form sent correctly</h1>
            </div>
        </div>
    </div>
    <script>
        setTimeout(() => {
            window.location.href = '/en';
        }, 2000);
    </script>

</body>

</html>